body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  
  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 36px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .form-section, .upload-section, .images-section {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .input-field, .input-file, .btn {
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  
  .input-field:focus, .input-file:focus, .btn:focus {
    outline: none;
  }
  
  .btn {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .btn-primary {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: #fff;
  }
  
  .btn-secondary {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
  }
  
  .image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .image-item {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
  
  .image-item img {
    width: 100%;
    border-radius: 10px;
  }
  